// Estilos generales del body
body {

  // Creación del Grid para los diferentes componentes del catálogo
  #catalogo {
    font-family: Georgia, serif;

    header {
      grid-column: 1 / -1; // Ocupa todas las columnas disponibles
    }

    #contenido-principal {
      grid-column: span 9; // Ocupa 9 columnas (75%)

      @media #{$mediamenor} {
        grid-column: span 12; // Ocupa 12 columnas (100%) en pantallas pequeñas
      }
    }

    footer {
      grid-column: 1 / -1; // Ocupa todas las columnas disponibles
    }
  }

  // Estilo de letras para títulos
  h1 {
    text-align: center;
    color: $primary-color;
    padding: 10px;
  }

  h2 {
    text-align: justify;
    color: $primary-color;
    padding: 10px;
    font-size: 20px;
  }

  // Estilo para enlaces
  a {
    text-decoration: none; // Quita el subrayado de los enlaces
    color: black; // Color del enlace

    &:hover {
      color: $hover-color;
    }
  }

  //Estilo iconos
  i {
    font-size: 25px;
  }
}