// Estilos generales del body
body {
  margin: 0;

  // Creación del Grid para los diferentes componentes del catálogo
  #catalogo {
    font-family: Georgia, serif;


    header {
      grid-column: 1 / -1; // Ocupa todas las columnas disponibles
    }

    #contenido-principal {
      grid-column: span 9; // Ocupa 9 columnas (75%)
      margin-top: 10px;

      @media #{$mediamenor} {
        grid-column: span 12; // Ocupa 12 columnas (100%) en pantallas pequeñas
      }
    }

    footer {
      grid-column: 1 / -1; // Ocupa todas las columnas disponibles
    }
  }

  // Estilo de letras para títulos
  h1 {
    text-align: center;
    color: $primary-color;
    padding: 10px;
  }

  h2 {
    text-align: justify;
    color: $primary-color;
    padding: 10px;
    font-size: 20px;
  }

  // Estilo para enlaces
  a {
    text-decoration: none; // Quita el subrayado de los enlaces
    color: black; // Color del enlace

    &:hover {
      color: $hover-color;
    }
  }

  // Video
<<<<<<< HEAD
  #videoModal {
=======
  .video-modal {
>>>>>>> dfe7669b3d04964f00b0fb2d350fba96d49d4eb4
    background: $base-color;
    overflow: hidden;
    padding: 0;

<<<<<<< HEAD
    .modal-dialog {
      max-width: none;
      width: 100%;
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal-content {
      border: none;
      box-shadow: none;
    }

    .modal-header {
      border-bottom: none;
    }
=======
  .video-dialog {
    max-width: none;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-content {
    border: none;
    box-shadow: none;
  }

  .video-header {
    border-bottom: none;
  }
>>>>>>> dfe7669b3d04964f00b0fb2d350fba96d49d4eb4

    #myVideoModal {
      width: 100%;
      height: auto;
      max-height: 88vh;
    }
  }

}