.contenido {
  margin: 0;
  font-family: Georgia, serif;

  // Estilos para el contenedor del formulario
  form {
    max-width: 600px; // Ancho máximo
    margin: 0 auto; // Centra horizontalmente en el contenedor
    background-color: $base-color; // Fondo blanco
    padding: 20px; // Padding del formulario
    border: 1px solid $borde-color; // Borde del formulario
    border-radius: 5px; // Radio del borde
    box-shadow: $sombras; // Sombra al formulario
  }

  // Estilos para los campos de entrada del formulario
  input, select{
    width: 95%; // Ancho del contenedor
    padding: 10px;
    margin: 5px 0;
    border: 1px solid $borde-color;
    border-radius: 5px;

    &::placeholder {
      font-style: italic;
    }

    &:focus {
      background-color: $contraste-color; // Cuando el input está señalado por el usuario
    }

    &:invalid {
      border-color: $error-color;
      box-shadow: none;
    }

    &:valid {
      border-color: $valid-color;
      box-shadow: none;
    }
  }

}

//MODO OSCURO
.contenido.dark-mode {
  background-color: $oscuro-fondo-color;
  color: $oscuro-letra-color;
}

.contenido.dark-mode a {
  color: $oscuro-letra-color;
}

.contenido.dark-mode .navbar {
  background-color: $oscuro-fondo-color;
  color: $oscuro-letra-color;
}

.contenido.dark-mode footer {
  background-color: $oscuro-fondo-color;
  color: $oscuro-letra-color;
}

.contenido.dark-mode .breadcrumb-item {
  color: $oscuro-letra-color;
}

.contenido.dark-mode form {
  background-color: $oscuro-form-color;
  border-color: $oscuro-bordes-color;
  box-shadow: $sombras;
}

.contenido.dark-mode input,
.contenido.dark-mode select {
  background-color: $oscuro-form-color;
  color: $oscuro-letra-color;
}

.contenido.dark-mode input:focus,
.contenido.dark-mode select:focus {
  background-color: $oscuro-focus-selected-color; 
}

.contenido.dark-mode input:invalid,
.contenido.dark-mode select:invalid  {
  border-color: #FF4040;
}

.contenido.dark-mode input:valid,
.contenido.dark-mode select:valid {
  border-color: #79FF79;
}

/* Estilos para el modal en modo oscuro */
.contenido.dark-mode .modal-content {
  background-color: $oscuro-fondo-color;
  color: $oscuro-letra-color;
}

.contenido.dark-mode .modal-header {
  background-color: $oscuro-fondo-color;
}

.contenido.dark-mode .modal-footer {
  background-color: $oscuro-fondo-color;
}
