.navbar{
    border-bottom: 1px solid $borde-color;
    background-color: $base-opacidad-color;
}

// Centrar la lista de enlaces
.navbar-nav {
    flex: 1; // Hace que la lista ocupe todo el espacio disponible
    justify-content: center; // Centra los elementos horizontalmente
    text-align: center;
}

//Titulo
.navbar-brand div {
  text-align: center;
  color: $primary-color;
  font-size: 35px;
  margin-left: 10px;
}

//Ajustar imagen y titulo
.navbar-brand {
  display: flex;
  align-items: center;
  height: 100%;
}

//Estilo iconos
i {
  font-size: 25px;
}