// Estilos para la barra lateral
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $base-opacidad-color; // con opacidad
  border-right: 1px solid $borde-color;
  box-shadow: $sombras; // Sombra

  // Alinear vertical y horizontalmente las secciones de la barra lateral
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // Lista de categorías
  .categorias {
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin: 10px;
      text-align: center;

      a:hover {
        color: $hover-color;
      }
    }
  }

  // Sección de filtros
  .filtros input[type="range"] {
    width: 90%;
  }

  // Sección de oferta
  #blackFridayModal {
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }

  .modal-content {
    background-color: $base-color;
    padding: 20px;
    max-width: 50%;
    max-height: auto;
    position: relative;
    text-align: center;
  }

  .modal-content a.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
  }

  // Media Query para pantallas menores de 600px
  @media #{$mediamenor} {
    display: none;
  }
}