.btn {
  width: 100%;
  cursor: pointer; // Cambiamos el cursor al pasar el ratón
  font-weight: bold; // Hacemos que el texto esté en negrita
  font-size: 16px; // Ajusta el tamaño de la fuente según tus preferencias
  padding: 2%; // Añadido el punto y coma
}