//Imagenes tarjetas producto
.card-img-top {
  object-fit: cover; //Ajuste al tamaño sin distorsionar
  height: 200px;
  width: 100%;
}
  
// Pie de página de la tarjeta
.footer-tarjeta {
  color: $gris-color;
  text-align: left;
  font-size: 12px;
  margin: 8px;

  &::after {
    content: "Este producto está bajo licencia copyleft. Uso gratuito permitido.";
  }
}